<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Datepicker for Bootstrap</title>

    <link href="http://github-proxy.kodono.info/?q=https://raw.github.com/Aymkdn/Datepicker-for-Bootstrap/master/datepicker.css" rel="stylesheet">
    <link href="/static/css/prettify.css" rel="stylesheet">
    <link href="/static/css/bootstrap.css" rel="stylesheet">
	

  <body>
  <div class="container">
    <section id="typeahead">
      <div class="row">

        <div class="span3 columns">
          <div class="well">
            <input type="text" class="span2" value="" id="dp1" data-date-format='mm-dd-yyyy' >
          </div>
      </div>
    </section>
</div>
    <script src="/static/js/jquery-1.7.1.min.js"></script>
    <script src="/static/js/prettify.js"></script>
    <script src="http://github-proxy.kodono.info/?q=https://raw.github.com/Aymkdn/Datepicker-for-Bootstrap/master/bootstrap-datepicker.js"></script>
	<script>
		$(function(){
			window.prettyPrint && prettyPrint();
			$('#dp1').datepicker();
			
		});
	</script>
</script>

  </body>
 </html>
