{% extends 'base.html' %}
{% block title %}
修改权限
{% endblock %}

{% block static %}
<script type="text/javascript" language="javascript" src="/static/js/jquery.json-2.4.min.js"></script>
<style>
    .left_td{
        width: 235px;
    }
</style>

<script type='text/javascript'>

    $(function(){
        $.ajax({
            url: '/usermanage/codename/{{ data.user_id }}',
            type: 'POST',
            data: {},
            success: function(data){
                var codenames = $.evalJSON(data);
                for (var i=0; i < codenames.length; i++){
                    $('#'+ codenames[i] +'').attr('checked', true);
                };
            },
            error: function(){
                alert('页面出现错误，请重新刷新页面')
            }
        })
    })
</script>

{% endblock %}

{% block contents %}

<td class='content'>
    <div class='bm_h cl'></div>
    <div class="path">
        <a href="#">资产系统</a>
        <em>&rsaquo;</em> <a href="{{ url_for('userManage.userList') }}">用户管理</a>
        <em>&rsaquo;</em> <a href="{{ url_for('userManage.permissionManage', user_id=data.user_id) }}">修改权限</a>
    </div>

    <div class='bm'>
        <h3>修改权限</h3>

        <form action='{{ url_for('userManage.permissionManage', user_id=data.user_id) }}' method='POST'>
        <div class='box'>
            <table>
                <tbody>
                    <tr>
                        <td align="right" class="acName left_td">
                            <span style="color:red;">*</span>
                            登录名（不可修改）：</td>
                        <td>
                            <span style='float:left;' name='login_name'>{{ data.user.login_name }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td align="right" class="acName left_td">
                            <span style="color:red;">*</span>
                            用户权限：
                        </td>
                        <td>
                            <div id='permission' style='width:300px; height:200px; overflow-y:scroll'>
                            {% for permission in data.permissions %}
                            <span class='permission_all' style='width:100%; float:left' >
                                <input class='permission_box' id='{{ permission.codename }}' style='float:left' type='checkbox' name='{{ permission.codename }}' value='{{ permission.id }}' />
                                <span style='float:left' >{{ permission.name  }}</span>
                            </span>
                            {% endfor %}
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <center>
         <button class='pn pnc' style='width:50px;'>保存</button>
         <a href='{{ url_for('userManage.userList')}}'><button class='pn pnc' style='width:50px;'>返回</button></a>
        </center>
        </form>
    </div>
</td>
{% endblock %}
