{% extends 'base.html' %}
{% block title %}
查看工程信息
{% endblock %}
{% block contents %}
<td class='content'>
    <div class='bm_h cl'></div>
    <div class="path">
        <a href="#">资产系统</a>
        <em>&rsaquo;</em> <a href="/viewpro/1">项目办理信息</a>
    </div>
    <div class='bm'>
        <h3>项目办理信息</h3>
        <span>{{msg}}</span>
        <div class='box'>
            <table>
                <tbody>
                    <tr>
                        <th>手续ID</th>
                        <th>项目办理时间</th>
                        <th>项目办理手续</th>
                        <th>操作</th>
                    </tr>
                    {% for f in formals %}
                    <tr>
                        <td><center><a href="/viewformalbase/{{f.id}}">{{f.id}}</a></center></td>
                        <td><center>{{f.time}}</center></td>
                        <td ><center>{{f.procedure}}</center></td>
                        <th><a href=''>修改</a></th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
            <div class=pagination>
                {% if pagination.page != 1 %}
                <a href="{{pagination.page - 1}}">上一页</a>
                {% endif %}
                {% for page in pagination.iter_pages() %}
                {% if page %}
                {% if page != pagination.page %}
                <a href="{{pagination.page}}">{{ page }}</a>
                {% else %}
                <strong>{{ page }}</strong>
                {% endif %}
                {% else %}
                <span class=ellipsis>…</span>
                {% endif %}
                {% endfor %}
                {% if pagination.has_next %}
                <a href="{{pagination.page + 1}}">下一页</a>
                {% endif %}
            </div>
    </div>
</td>
{% endblock %}


